// Configurações de fonte
$default-font: 'Inter', sans-serif;
$default-font-size: 16px;

// PALETA PRIMÁRIA
$black: #000000;
$gray: #cccccc;
$green: #DAFF01;
$purple: #9353FF;
$purpleActive: #9353FF;

// PALETA COMPLEMENTAR
$coral: #EE6471;
$orange: #F87F46;

// COR A SER UTILIZADA NOS BANNERS
$color: '';

// CAMINHO DAS IMAGENS
$imageUrl: '';